/* Coolors Exported Palette - coolors.co/393e41-71f79f-3dd6d0-44bba4-e7bb41 */

/* HSL */
$color1: hsla(203%, 7%, 24%, 1);
$color2: hsla(141%, 89%, 71%, 1);
$color3: hsla(178%, 65%, 54%, 1);
$color4: hsla(168%, 47%, 50%, 1);
$color5: hsla(44%, 78%, 58%, 1);

/* RGB */
$color1: #13ED9A;
$color2: rgba(113, 247, 159, 1);
$color3: rgba(61, 214, 208, 1);
$color4: rgb(251, 205, 77);
$color5: rgba(255, 255, 255, 1); 
$color6: #292D39;
