/* Coolors Exported Palette - coolors.co/edae49-d1495b-00798c-2a2d34-009ddc */

/* HSL */
// $color1: hsla(37%, 82%, 61%, 1);
// $color2: hsla(352%, 60%, 55%, 1);
// $color3: hsla(188%, 100%, 27%, 1);
// $color4: hsla(222%, 11%, 18%, 1);
// $color5: hsla(197%, 100%, 43%, 1);

/* RGB */
$color1: rgba(237, 174, 73, 1);
$color2: rgba(209, 73, 91, 1);
$color3: rgba(0, 121, 140, 1);
$color4: rgba(42, 45, 52, 1);
$color5: rgba(0, 157, 220, 1);
