@import "node_modules/bootstrap/scss/bootstrap";
@import "/_variables.scss";
@import "/palettes/palette_4.scss";

@import "/helpers.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i');

@import "node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
//admin section

body{
    *{
        font-family: 'Roboto', sans-serif;
    }
}

blockquote {
    border-left: 5px solid hsl(0, 0%, 80%) !important;
    p{
        padding-left: 0.5em;
    }
}

.width {
    width: 0%;
    transition: width .15s ease;

    &.show {
      width: 100%;
    }
}

$bg-sitebar: rgb(29, 29, 37);
#app{
    display: flex;
    .sitebar-wrp{
        position: relative;
        margin-right: 0rem;
        transform: translateX(-20px);
        align-items: stretch;
        min-height: 100vh;
        @include media-breakpoint-up(md) {
            margin-right: 1.5rem;
        }
        &>a.data-toggle{
            position: absolute;
            top: 0;
            right: -3rem;
            z-index: 10;
        }
        &>div{
            overflow: hidden;
            height: 100%;
            background-color: $bg-sitebar;

            .list-group{
                .fa{
                    margin-right: 3px;
                    span{
                        margin-left: 5px;
                    }
                }
                background-color: $bg-sitebar;
                @include media-breakpoint-up(md) {
                    &>a{
                        padding-right: 50px;
                    }
                }
                form{
                    &>button{
                        width: 100%;
                        cursor: pointer;
                        background-color: inherit;
                        border: none;
                        text-align: left;
                    }
                }
                .list-group-item{
                    color: $color1;
                    background-color: $bg-sitebar;
                    &:hover{
                        background-color: lighten($bg-sitebar, 10%);
                    }
                }
                @include media-breakpoint-up(md) {
                    &>div{
                        &>a{
                            padding-left: 30px;
                        }
                        &>div>a{
                            padding-left: 45px;
                        }
                    }
                }
                .user{
                    color: $color3;
                    background-color: $bg-sitebar !important;
                }

            }
        }
    }
    .content{
        flex:1;
        padding-top: 50px;
        min-width: 0;
        .overflow{
            tbody{
                tr{
                    td {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

.overflow-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 6rem;
}

.role{
    text-decoration: none !important;
}
.bootstrap-datetimepicker-widget{
    right: 8px !important;
}

div.thumbnail{
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    position: relative;
    img{
        height: 100%;
        width: auto;
    }
    &>form{
        top: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        &:hover{
            background-color: rgba(0,0,0,0.5);
            &>div>button{
                background-color: rgba(white, 0.4);
                &:hover{
                    background-color: rgba(white, 0.8);
                }
            }
        }
        z-index: 2;
        &>div{
            position: relative;
            height: 100%;
            &>button{
                height: 50px;
                width: 50px;
                border-radius: 10px;
                border: none;
                background-color: rgba(black, 0.2);
            }
        }
    }

}

$select-color: black;
$select-background: #fff;
$select-width: inherit;
$select-height: 40px;

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 8px 15px;
  @include transition(all 0.2s ease-in);
  border: 1px solid #D9D9D9;
  border-radius: $border-radius;
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: $select-background;
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5%);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
    &:hover {
      background: darken($select-background, 10%);
    }
    &[rel="hide"] {
      display: none;
    }
  }
}
