@import "/palettes/palette_4.scss";
@import "/_variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600');

body{
    text-align: justify;
    line-height: 2em;
    text-justify: inter-word;
    transition: 0.5s;
    background-color: #FFFFFF;
    color: #333333;
    *{
        font-family: 'Montserrat', sans-serif;
    }

}
div.bg{
    background-image: url('/public/img/preview.jpg');
    background-blend-mode: multiply;
    z-index: -2;
    width: 100%;
    height: calc(100% + 56px);
    position: fixed;
    top: -56px;
    opacity: 0.1;
}
.bg-dark{
    background-color: $color6;
    transition: 0.5s;
}
.page-content{
    margin-top: -56px;
}
.menu{
    nav{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    background-color: $color6;
    z-index: 2;
    *{
        color: $color1;
        font-weight: 600;
    }
    a{
        padding-top: 16px;
        padding-bottom: 16px;
        &.active{
            color: lighten($color1, 10%);
            background-color: lighten($color6, 10%);
        }
        &:hover{
            color: darken($color1, 10%);
        }
    }
}


#app{
    font-family: Popins;
    h1, h2{
        text-align: left;
        font-weight: 700;
        letter-spacing: -.02em;
        word-spacing: 0.1em;
        line-height: 1.2em;
        color: #333333;
    }

    #home_t{
        background-color: darken(white, 5%);
        padding: 0px;
        .start_image{
            height: 100vh;
            background-color: $color3;
            &:before {
                content : "";
                display: block;
                position: relative;
                top: 0;
                left: 0;
                background-image: url('/public/img/preview.jpg');
                background-blend-mode: multiply;
                width: 100%;
                height: 100vh;
                opacity : 0.1;
            }
        }
        .content{
            position: absolute;
            height: 100vh;
            width: 100%;
            top: 0px;
            left: 0px;
            display: table;
            .col-md-12{
                display: table-cell;
                vertical-align: middle;

            }
            h1{
                font-weight: 700;
                letter-spacing: -.02em;
                word-spacing: 0.1em;
                line-height: 1.2em;
                font-size: 7vw;
                color: $color6;
                text-decoration: underline;
                text-decoration-color: $color4;
            }
        }
        #featured{
            padding-top: 50px;
            padding-bottom: 50px;
        }
        #download{
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: $color2;
            .card{
                padding: 20px;
                a{
                    width: 100%;
                    padding: 10px;
                }
            }
        }
        #social-media{
            background-color: $color6;
            .row{
                .col-lg-3{
                    height: 8vh;
                    display: table;
                    a{
                        padding: 15px;
                        display: table-cell;
                        vertical-align: middle;
                        color: $color1;
                        font-size: 1.4em;
                        font-weight: 600;
                        text-align: center;

                    }
                }
            }
        }
    }

    div{
        .bg-wrp{
            padding-top: 4em;
        }
        .space{
            .col-md-6{
                padding-bottom: 5em;
                h2{
                    padding-bottom: 0.5em;
                }
            }
        }
    }

    #personen{
        div{
            .card{
                height:100%;
            }
        }
    }

    #event_select + div.dropdown-menu{
        left: auto;
        width: calc(100% - 30px);
        text-align: center;
    }
}
