
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
) !default;
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($breakpoint){
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $prop, $abbrev in (width: w){
            @each $size, $value in $sizes{
                .#{$abbrev}#{$infix}-#{$size} {
                    #{$prop}: $value;
                }
            }
        }
    }
}